    <!-- PAGE FOOTER -->
<div class="page-footer">
    <div class="row">
        <div class="col-xs-12 col-sm-12 text-center">
            <span class="txt-color-white">Posadmin 1.0.0 <span class="hidden-xs"> - Web Application by Software Factory</span> © 2019-2020</span>
        </div>
    </div>
</div>
<!-- END PAGE FOOTER -->