<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <configSections>
      <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
   </configSections>
   <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
      <sectionExtension type="Microsoft.Practices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationExtension, Microsoft.Practices.Unity.Interception.Configuration" />
      <container>
         <register type="Posadmin.BusinessLogic.IBLUsuarios, Posadmin.BusinessLogic"                     mapTo="Posadmin.BusinessLogic.BLUsuarios, Posadmin.BusinessLogic" />
         <register type="Posadmin.BusinessLogic.IBLPaises, Posadmin.BusinessLogic"                       mapTo="Posadmin.BusinessLogic.BLPaises, Posadmin.BusinessLogic" />
         <register type="Posadmin.BusinessLogic.IBLUbigeos, Posadmin.BusinessLogic"                      mapTo="Posadmin.BusinessLogic.BLUbigeos, Posadmin.BusinessLogic" />
         <register type="Posadmin.BusinessLogic.IBLRoles, Posadmin.BusinessLogic"                        mapTo="Posadmin.BusinessLogic.BLRoles, Posadmin.BusinessLogic" />
         <register type="Posadmin.BusinessLogic.IBLOpciones, Posadmin.BusinessLogic"                     mapTo="Posadmin.BusinessLogic.BLOpciones, Posadmin.BusinessLogic" />
         <register type="Posadmin.BusinessLogic.IBLEmpresas, Posadmin.BusinessLogic"                     mapTo="Posadmin.BusinessLogic.BLEmpresas, Posadmin.BusinessLogic" />
         <register type="Posadmin.BusinessLogic.IBLTablas, Posadmin.BusinessLogic"                       mapTo="Posadmin.BusinessLogic.BLTablas, Posadmin.BusinessLogic" />
         <register type="Posadmin.BusinessLogic.IBLSucursales, Posadmin.BusinessLogic"                   mapTo="Posadmin.BusinessLogic.BLSucursales, Posadmin.BusinessLogic" />
         <register type="Posadmin.BusinessLogic.IBLParametros, Posadmin.BusinessLogic"                   mapTo="Posadmin.BusinessLogic.BLParametros, Posadmin.BusinessLogic" />
         <register type="Posadmin.BusinessLogic.IBLConfiguraciones, Posadmin.BusinessLogic"              mapTo="Posadmin.BusinessLogic.BLConfiguraciones, Posadmin.BusinessLogic" />
         <register type="Posadmin.BusinessLogic.IBLEntidades, Posadmin.BusinessLogic"                    mapTo="Posadmin.BusinessLogic.BLEntidades, Posadmin.BusinessLogic" />
         <register type="Posadmin.BusinessLogic.IBLFuncionesEntidades, Posadmin.BusinessLogic"           mapTo="Posadmin.BusinessLogic.BLFuncionesEntidades, Posadmin.BusinessLogic" />
         <register type="Posadmin.BusinessLogic.IBLHabitaciones, Posadmin.BusinessLogic"                 mapTo="Posadmin.BusinessLogic.BLHabitaciones, Posadmin.BusinessLogic" />
         <register type="Posadmin.BusinessLogic.IBLTurnos, Posadmin.BusinessLogic"                       mapTo="Posadmin.BusinessLogic.BLTurnos, Posadmin.BusinessLogic" />
         <register type="Posadmin.BusinessLogic.IBLReservaciones, Posadmin.BusinessLogic"                mapTo="Posadmin.BusinessLogic.BLReservaciones, Posadmin.BusinessLogic" />
         <register type="Posadmin.BusinessLogic.IBLRegistros, Posadmin.BusinessLogic"                    mapTo="Posadmin.BusinessLogic.BLRegistros, Posadmin.BusinessLogic" />
         <register type="Posadmin.BusinessLogic.IBLDetallesPagosRegistros, Posadmin.BusinessLogic"       mapTo="Posadmin.BusinessLogic.BLDetallesPagosRegistros, Posadmin.BusinessLogic" />
         <register type="Posadmin.BusinessLogic.IBLCierres, Posadmin.BusinessLogic"                      mapTo="Posadmin.BusinessLogic.BLCierres, Posadmin.BusinessLogic" />
         <register type="Posadmin.BusinessLogic.IBLRetiros, Posadmin.BusinessLogic"                      mapTo="Posadmin.BusinessLogic.BLRetiros, Posadmin.BusinessLogic" />
      </container>
   </unity>
</configuration>
